.shop-container-with-cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  position: relative;
}

.shop-container-without-cart {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  position: relative;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media only screen and (max-width: 900px) {
  .shop-container-with-cart {
    grid-template-columns: 1.5fr 1fr;
  }
}

.cart-container {
  position: relative;
}

.cart-items {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.input-container {
  background-color: #342850;
  text-align: center;
  line-height: 40px;
  position: sticky;
  width: 100%;
  top: 50px;
  z-index: 2;
}

.input-container input {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .shop-container {
    gap: 10px;
  }
  .input-container {
    top: 35px
  }
}


@media only screen and (max-width: 510px) {
  .shop-container-with-cart {
    gap: 10px;
  }
  .input-container {
    top: 70px
  }
}