.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  position: relative;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.cart-container {
  position: relative;
}

.cart-items {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
