.total {
    color: #E04D01;
    font-size: 1.8rem;
}

.cart-players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 100px;
}

.player-added {
    margin: 10px 0;
}