header {
    background-color: #251D3A;
    line-height: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

header h2 {
    margin: 0;
    color: white;
}

header h2 span {
    font-size: 2rem;
    color: #E04D01;
}